
@media (min-width:1003px)  and (max-width: 1215px)  {



}



/*  */
@media (min-width:600px) and (max-width:929px){
    .promo-text h2{
        font-size: 80px
    }

    .promo-text p{
        font-size: 25px;
        max-width: 500px;

    }
    
    .pages a{
        margin:40px 40px;
        width: 70%;
        height:300px;
    
    }
    .pages a::before{
        width: 120%;
        height: 350px;
    
    }

    

}




@media (max-width:600px) and  (min-width:320px){
    .promo-text h2{
        font-size: 50px
    }

    .promo-text p{
        font-size: 20px;
        max-width: 400px;
        padding:0px 6px ;
        border:1px solid red;

    }

    .pages a{
        margin:40px 40px;
        width: 70%;
        height:200px;
    
    }
    .pages a::before{
        width: 120%;
        height: 250px;
    
    }

    .pages-section h3{
        font-size: 50px;
        padding:60px 0px;
    }


}